[Unit]
Description=Beszel Agent ({{ beszel_agent_version }})
Documentation=https://github.com/henrygd/beszel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ beszel_agent_user }}
Group={{ beszel_agent_group }}
Environment="PORT={{ beszel_agent_port }}"
Environment="KEY={{ beszel_hub_ssh_pubkey }}"
ExecStart={{ beszel_agent_binary_path }}
Restart=always
RestartSec=10
LimitNOFILE=4096

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=read-only
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
