apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: datalab
  namespace: ia-lab
  releaseName: lab
  repo: https://tom333.github.io/my-charts
  version: 1.0.34
  valuesInline:
    mlflow.postgresql.auth.password: bn_mlflow  
    mlflow.postgresql.auth.postgresPassword: bn_mlflow  
    mlflow.tracking.service.type: ClusterIP
    mlflow.tracking.resourcesPreset: 2xlarge
    mlflow.tracking.extraArgs: '--timeout 240'
    mlflow.run.resourcesPreset: 2xlarge
    mlflow.tracking.containerSecurityContext.runAsNonRoot: false
