apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: config-app
  namespace: argocd
spec:
  destination:
    namespace: infra
    server: https://kubernetes.default.svc
  project: infra-project
  source:
    path: config/
    repoURL: https://github.com/tom333/my-kluster.git
    targetRevision: HEAD
  syncPolicy:
    syncOptions:
      - CreateNamespace=false
    automated:
      selfHeal: true
      prune: true

