[Unit]
Description=Weekly PiHole core update timer
Documentation=file://{{ pihole_maint_script_path }}

[Timer]
OnCalendar={{ pihole_maint_oncalendar }}
RandomizedDelaySec=600
Persistent=true
Unit={{ pihole_maint_service_name }}.service

[Install]
WantedBy=timers.target
