[Unit]
Description=Daily Sealed Secrets master key backup
Documentation=file://{{ sealed_backup_script_path }}

[Timer]
OnCalendar=*-*-* {{ sealed_backup_hour }}:00:00
RandomizedDelaySec=300
Persistent=true
Unit={{ sealed_backup_service_name }}.service

[Install]
WantedBy=timers.target
